* {
  font-family: 'Roboto Mono', sans-serif;
}

nav {
  background: linear-gradient(45deg, #0e0e0e, #0e0e22); /* Dark gradient from black to very dark purple */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays on top of other elements */
}

body, html {
  background: linear-gradient(45deg, #0e0e0e, #0e0e22); /* Dark gradient from black to very dark purple */
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}

#video-container {
  width: auto;
  height: 40%; /* One-third of the screen height */
  max-width: 40%; /* Limit width to one-third of the screen width */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.room-key {
  font-size: 3rem; /* Large font size */
  font-weight: 100; /* Thin font weight */
}

button:disabled {
  color: #9CA3AF; /* Gray color */
  cursor: not-allowed;
  border-color: #9CA3AF; /* Gray border color */
}

button:disabled:hover {
  color: #9CA3AF; /* Ensure the color doesn't change on hover */
  border-color: #9CA3AF; /* Ensure the border color doesn't change on hover */
}

/* Initial play button styles */
#playButton {
  transition: all 0.3s ease;
}

/* Style changes when clicked */
#playButton.playing {
  background-color: #4caf50; /* Example color change */
  color: white; /* Change text color */
  transform: scale(1.1); /* Slightly increase the size */
}

/* Animation keyframes */
@keyframes playButtonAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Applying the animation */
#playButton.playing {
  animation: playButtonAnimation 0.6s ease infinite;
}

