{% extends "base.html" %} {% block title %}{{ room_key }}{% endblock %} {% block
content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="flex items-center justify-center flex-col">
  <div class="flex justify-content-center mt-10">
    <div class="flex items-center justify-center flex-col">
      <div class="font-thin">
        hello,
        <span class="font-bold text-xl">{{ player_name }} 👋🏻</span> welcome to
        the room <span class="font-semibold">{{ room_key }}</span>
      </div>
    </div>
  </div>

  <div id="video-container" class="text-center my-3">
    <img id="video" />
  </div>

  <button
    class="text-blue-500 hover:text-blue-700 text-4xl font-bold bg-transparent"
    id="playButton"
    title="play!"
  >
    play_
  </button>
  <div id="result" class="mt-4">
    <!-- Content will be dynamically updated here -->
  </div>
</div>
{% endblock %}
